#readymade
  background: #222

#readymade .readymade-site-background
  opacity: 0.1

#readymade[data-location-hash="#/"] .readymade-site-background
  opacity: 1

#readymade
  &[data-location-hash="#/classify"]
    .readymade-main-stack
      width: 95vw

  .readymade-subject-viewer-container
    background: transparent
    padding: 0

  .readymade-subject-viewer-container
    width: auto

  .readymade-decision-tree-container
    width: 20%

.nesting-area
  fill: gray
  fill-opacity: 0.5
  pointer-events: none
  stroke: white
  stroke-width: 3

.pinpoint
  cursor: move

.marking-surface-tool-controls .decision-tree-choice .readymade-choice-image img
  border-radius: 50%
  width: 48px
  height: 48px
