.readymade-field-guide-example
  display: inline-block
  max-width: 48%

.readymade-classification-interface
  width: 100%
  
.readymade-subject-viewer-container
  display: inline-block
  width: 80%

.readymade-decision-tree-container
  display: inline-block
  max-width: 19%
  vertical-align: top

.readymade-summary-container
  display: inline-block
  max-width: 15%
  vertical-align: top
      